@charset "UTF-8";
/* Fuentes */
/* Colores */
/* Tamaños de Media Queries */
/* Button */
/* Images */
/* Media Queries */
/* Global */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.oculto {
  display: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 1.4rem 0;
}

.header .carrito-compras {
  position: relative;
}

.header .carrito-compras:hover .contenido {
  display: block;
  flex-direction: column;
  position: absolute;
  right: 0;
  padding: 1rem;
  background-color: #F2F2F2;
  width: 300px;
}

@media only screen and (min-width: 480px) {
  .header .carrito-compras:hover .contenido {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .header .carrito-compras:hover .contenido {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .header .carrito-compras:hover .contenido {
    width: 600px;
  }
}

.header .carrito-compras:hover .contenido .column {
  text-align: center;
}

.header .carrito-compras:hover .contenido img {
  width: 150px;
}

.header .carrito-compras:hover .boton {
  display: block;
  background-color: #33C3F0;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

/* Hero */
.hero {
  min-height: 26rem;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero .contenido-hero {
  flex: 1;
  color: #FFFFFF;
}

.hero .contenido-hero h2 {
  font-weight: 400;
  font-size: 1.4rem;
}

.hero .contenido-hero p {
  font-size: 1.2rem;
}

.hero .contenido-hero form {
  position: relative;
}

.hero .contenido-hero form input[type="text"] {
  width: 100%;
  height: 3rem;
}

.hero .contenido-hero form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/lupa.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 3rem;
  height: 3rem;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .hero .contenido-hero form {
    width: 40%;
  }
}
