/* Global */
html {
    @include box-sizing( border-box );
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.oculto {
    display: none;
}

.centrado {
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 1.4rem 0;
    }

    .carrito-compras {
        position: relative;

        &:hover .contenido{
            display: block;
            flex-direction: column;
            position: absolute;
            right: 0;
            padding: 1rem;
            background-color: $grey;
            width: 300px;

            @include telefone() {
                width: 400px;
            }
            
            @include tablet() {
                width: 500px;
            }

            @include desktop() {
                width: 600px;
            }
        }

        &:hover .contenido .column{
            text-align: center;
        }

        &:hover .contenido img{
            width: 150px;
        }

        &:hover .boton {
            @include button( $first_color );
        }
    }
}

/* Hero */
.hero {
    min-height: 26rem;
    @include background-image( '../img/hero.jpg' );
    background-size: cover;
    display: flex;
    align-items: center;

    .contenido-hero {
        flex: 1;
        color: $white;

        h2 {
            font-weight: 400;
            font-size: 2.4rem;
        }

        p {
            font-size: 1.2rem;
        }

        form {
            position: relative;

            input[type="text"] {
                width: 100%;
                height: 3rem;
            }
            
            input[type="submit"] {
                position: absolute;
                right: 0;
                top: 0;
                @include background-image( '../img/lupa.png' );
                display: block;
                width: 3rem;
                height: 3rem;
                text-indent: -9999px;
                border: none;
                cursor: pointer;
            }

            @include tablet() {
                width: 40%;
            }
        }
    }
}

/* Barra */
.barra {
    min-height: 6rem;
    padding: 1rem;
    @include background-gradient( $second_color, $third_color );
    color: $white;
    display: flex;
    align-items: center;

    .iconos {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include desktop() {
            flex-direction: row;
        }

        .icono {
            flex: 1;
            background-position: 5% center !important;
            background-size: 2.4rem;
            text-align: center;
            
            @include tablet() {
                background-position: 20% center !important;
            }

            @include desktop() {
                background-position: left center !important;
            }

            &.icono1 {
                @include background-image( '../img/icono1.png' );
            }
        
            &.icono2 {
                @include background-image( '../img/icono2.png' );
            }
        
            &.icono3 {
                @include background-image( '../img/icono3.png' );
            }
        }
    }
}

/* Cursos */
.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .curso {
        flex: 0 1 calc( 100% - 1rem );
        border: 1px solid $border_color;
        margin: 0 auto 1rem;

        .imagen-curso {
            width: 100%;
        }

        @include telefone() {
            flex: 0 1 calc( 50% - 1rem );
        }

        @include tablet() {
            flex: 0 1 calc( 33% - 1rem );
        }

        @include desktop() {
            flex: 0 1 calc( 25% - 1rem );
        }

    }

}

.info-curso {
    padding: 1rem;
    position: relative;

    h4 {
        margin: 0;
        font-size: 1.2rem;
    }

    .precio {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .regular {
            text-decoration: line-through;
            color: $red;
        }

        .oferta {
            font-size: 1.6rem;
            font-weight: 900;
            color: $yellow;
        }

    }

    .boton {
        @include button( $second_color );
    }
}
